<div class="container">
  <div class="box">
    <img class="logo" src="../../assets/bubblychat.png" alt="ad" />
  

  <div class="input">
    <input type="text" placeholder="Username">
    <div class="psd">
    <input type="text"  placeholder="Password">
    <span>Forgot Password?</span>
  </div>
    <button>
    <app-btn [name]="'Login'"></app-btn>
  </button>

  <div class="mybtn">
    <img  class="google" src="../../assets/google.png" alt="">
    Login with Google
  </div>
  <div class="noacc">
    <h3>Don't have an Account?</h3>
    <span routerLink="/signup">SignUp</span>
  </div>

  </div>
</div>
</div>
