<div class="container">
  <div>
  
    <img src="../../assets/post1.jpg" alt="profile">
    <div class="pro">
      <h1>SHAGUN THAKUR</h1>
      <div class="username">
      <h2>hey.shagun</h2>
      <button class="edit">Edit</button>
    </div>
      <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto deserunt voluptas maiores distinctio necessitatibus!</h5>
    <div class="follow">

      <button class="btn">
      <app-btn [name]="'Followers'"></app-btn>
    </button>
    <button class="btn">
      <app-btn [name]="'Following'"></app-btn>
    </button>
    </div>
    </div>
  </div>
</div>
